<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form">
<form class="login" action="" method="post">
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="alert alert-warning">
							<u><strong>Hello there! Your Reminder...<u></strong>
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										Hello!!..You have been sent a reminder note from FundooApp!!!
									</td>
                                    <br><br><br>
								</tr>
								<tr>
									<td class="content-block">
										<span style="color: purple; ">

				                        <br><br><br><br><br>
												Please take a note of it !!!!
										</span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>

						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>
</form>
</body>
<style>
    .form {
  position: relative;
  margin-top: 100px;
  background: navajowhite;
  max-hight:450px;
  max-width: 550px;
  margin: 210px auto 50px;
  padding:20px;
  text-align: center;
}</style>
</html>
